<div class="container">

    <div class="row">
        <div class="col-md-4">
            <create-component (addUserInstanceEvent)="addUserEvent($event)" ></create-component>
        </div>
<!-- 
        <div class="col-md-8">
            <div class="form-inline md-form form-sm active-pink active-pink-2">
                <div class="row">
                    <div class="col-md-9 col-sm-9 col-xs-9"><input class="form-control form-control-sm ml-3 w-75"
                            type="text" placeholder="Tìm kiếm" aria-label="Search" mdbInput>
                    </div>
                    <div class="col-md-3 col-sm-3 col-sm-3">
                        <button type="button" mdbBtn color="light" mdbWavesEffect>
                            <i class="fas fa-search" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div> -->
    </div>



    <div class="row">
        <form [formGroup]="formGroup">
            <table class="table">
                <thead class="peach-gradient white-text">
                    <tr>
                        <th>
                            <mdb-checkbox (ngModelChange)="handleCheckAllClick()" (change)="handleCheckAllClick()"
                                mdbInput [default]="true" formControlName="checkAllInput"></mdb-checkbox>
                        </th>
                        <th>Xóa</th>
                        <th>STT</th>
                        <th>Tên</th>
                        <th>Ngày sinh</th>
                        <th>Lớp</th>
                        <th>SĐT</th>
                        <th>Email</th>
                        <th>Sửa</th>
                    </tr>
                </thead>

                <tbody>

                    <tr *ngFor="let item of users; let i = index" >
                        <td scope="row">
                            <mdb-checkbox [default]="true" mdbInput formControlName="checkInput"
                                (ngModelChange)="handleCheckClick(item.id)">
                            </mdb-checkbox>
                        </td>
                        <td>
                            <button class="btn" (click)="handleDeleteClick(item)" data-id="item.id">
                                <i class="fas fa-trash-alt" aria-hidden="true"></i>
                            </button>
                        </td>
                        <td>{{i+1}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.birth | date:"dd/MM/yyyy"}}</td>
                        <td>{{item.schoolclass}}</td>
                        <td>{{item.phone}}</td>
                        <td>{{item.email}}</td>
                        <td><update-component [student] = "item"  (updateUserInstanceEvent)="updateUserEvent($event)">
                            </update-component>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <a type="button" mdbBtn color="red" class="waves-effect mb-4" mdbWavesEffect (click)="handleMassRemove()">
        <mdb-icon fas icon="dumpster"></mdb-icon>
    </a>

</div>