<a type="button" 
mdbBtn color="info" 
class="waves-effect mb-4" 
(click)="frame.show()" 
mdbWavesEffect>
Thêm Người Dùng
</a>

<!--Modal-->
<div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true" style="overflow-y: auto">
  <!--Dialog-->
  <div class="modal-dialog modal-notify modal-info" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header text-center">
        <h4 class="modal-title white-text w-100 font-weight-bold py-2">
          Thêm Người Dùng 
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
        <div class="modal-body mx-3">
          <div class="md-form mb-5">
            <i class="fas fa-user prefix grey-text"></i>
            <input type="text" class="form-control validate" id="name" mdbInput mdbValidate required
              formControlName="nameInput" />
            <label data-error="wrong" data-success="right" for="name">Họ và tên </label>
            <mdb-error
              *ngIf="input.get('nameInput').invalid && (input.get('nameInput').dirty || input.get('nameInput').touched)">
              <div *ngIf="input.get('nameInput').errors.required">
                Không thể để trống tên
              </div>
            </mdb-error>

          </div>
          <div class="md-form mb-5">
            <i class="fas fa-envelope prefix grey-text"></i>
            <input type="email" id="email" name="email" class="form-control validate" mdbInput mdbValidate required
              formControlName="emailInput">
            <label data-error="wrong" data-success="right" for="">Email</label>
            <mdb-error
              *ngIf="input.get('emailInput').invalid && (input.get('emailInput').dirty || input.get('emailInput').touched)">
              <div *ngIf="input.get('emailInput').errors.required">
                Không thể để trống email
              </div>
              <div *ngIf="input.get('emailInput').errors.email">
                Email không đúng định dạng
              </div>
            </mdb-error>

          </div>
          <div class="md-form mb-5">
            <i class="fas fa-phone prefix grey-text"></i>
            <input type="text" id="phone" name="phone" class="form-control validate" mdbInput mdbValidate required
              formControlName="phoneInput">
            <label data-error="wrong" data-success="right" for="">Số điện thoại</label>
            <mdb-error
              *ngIf="input.get('phoneInput').invalid && (input.get('phoneInput').dirty || input.get('phoneInput').touched)">
              <div *ngIf="input.get('phoneInput').errors.required">
                Không thể để trống số điện thoại
              </div>
              <div *ngIf="input.get('phoneInput').errors.maxlength">
                Số điện thoại chứa tối đa {{input.get('phoneInput').errors.maxlength.requiredLength}}
              </div>
              <div *ngIf="input.get('phoneInput').errors.minlength">
                Số điện thoại chứa tối thiểu {{input.get('phoneInput').errors.minlength.requiredLength}}
              </div>
              <div *ngIf="input.get('phoneInput').errors.pattern">
                Số điện thoại không đúng định dạng
              </div>
            </mdb-error>

          </div>
          <div class="md-form mb-5">
            <i class="fas fa-calendar prefix grey-text"></i>
            <input type="date" id="birth" name="birth" class="form-control validate" mdbInput mdbValidate required
              formControlName="birthInput">
            <label data-error="wrong" data-success="right" for=""><h5>Ngày sinh</h5></label>
            <mdb-error
              *ngIf="input.get('birthInput').invalid && (input.get('birthInput').dirty || input.get('birthInput').touched)">
              <div *ngIf="input.get('birthInput').errors.required">
                Không thể để trống ngày sinh nhật
              </div>
            </mdb-error>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="male" value="true" name="genderInput" mdbInput
              mdbValidate formControlName="genderInput">
            <label class="custom-control-label" for="male">Nam</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" value="false" id="female" name="genderInput" mdbValidate
              formControlName="genderInput" checked mdbInput>
            <label class="custom-control-label" for="female">Nữ</label>
          </div>
          <div class="md-form mb-5">
            <div><i class="fas fa-angle-double-up  grey-text"> Khối</i></div>
            <select class="browser-default custom-select" (change)="getClassList($event.target.value)">
              <ng-container *ngFor="let item of grade">
                <option value="{{item}}">{{item}}</option>
              </ng-container>
            </select>
            <!-- <label data-error="wrong" data-success="right" for="">Lớp</label> -->
          </div>

          <div class="md-form mb-5">
            <div><i class="fas fa-chalkboard-teacher grey-text"> Lớp</i></div>
            <select class="browser-default custom-select" id="class" name="class" formControlName="schoolclassInput"
              required mdbValidate>
              <ng-container *ngFor="let item1 of cl">
                <option value="{{item1.name}}">{{item1.name}}</option>
              </ng-container>
            </select>
            <mdb-error
            *ngIf="input.get('schoolclassInput').invalid && (input.get('schoolclassInput').dirty || input.get('schoolclassInput').touched)">
            <div *ngIf="input.get('schoolclassInput').errors.required">
                    Không thể để trống lớp
            </div>
          </mdb-error>
          </div>
         

        </div>
        <!--/.Body-->

        <!--Footer-->
        <div class="modal-footer justify-content-center">
          <button mdbBtn type="submit" mdbBtn color="info" class="waves-effect" mdbWavesEffect>
            Thêm
          </button>
        </div>
      </form>
      <!--Footer-->
    </div>
    <!--/.Content-->
  </div>
  <!--/.Dialog-->
</div>
<!--/.Modal-->